//------------------------------------------------------------------------------
// Inputs and selects (note: put the o_input class to have the style)
//------------------------------------------------------------------------------
[type="text"], [type="password"], [type="number"], textarea, select {
    width: 100%;
    display: block;
    outline: none;
}
.o_input {
    border: 1px solid $o-form-lightsecondary;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;

    .o_input {
        border: none!important;
        padding: 0;
    }
}
select { // FIXME buggy 'padding-left'
    cursor: pointer;
    background-color: transparent;
    min-width: 50px;

    appearance: none;
    background-image: url("/web_enterprise/static/src/img/down-arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 0; // webkit OSX browsers have a border-radius on select

    color: transparent; // This is a hack to remove the outline in FF
    text-shadow: 0 0 0 $o-main-text-color;
    > option {
        color: $o-main-text-color;
    }
}

@mixin o-placeholder { // Rules below need to be separeted. Otherwise all browsers will discard the whole rule.
    color: $o-brand-secondary;
    opacity: 0.5;
}
::-webkit-input-placeholder { // WebKit, Blink, Edge
    @include o-placeholder;
}
::-moz-placeholder { // Mozilla Firefox 19+
    @include o-placeholder;
}
:-ms-input-placeholder { // Internet Explorer 10-11
    @include o-placeholder;
}

//------------------------------------------------------------------------------
// Buttons
//------------------------------------------------------------------------------

.btn-secondary {
    // Bootstrap variables do not control the color for btn-secondary text
    // anymore. All buttons are either assigned the chosen dark or the chosen
    // light color, automatically according to their background color. Setting
    // the dark color to be our Odoo green is not a solution as BS would choose
    // that green as text color for btn-warning / btn-info / ... which is not
    // what we want.
    color: $primary;

    &.fa {
        color: $yiq-text-dark;
    }
}

//------------------------------------------------------------------------------
// Misc.
//------------------------------------------------------------------------------
.o_loading {
    background-color: $o-brand-odoo;
    color: white;
    padding: 4px;
}

.oe_clear {
    clear: both;
}

//== Alerts
.alert {
    &.alert-info, &.alert-success, &.alert-warning, &.alert-danger {
        border-width: 0 0 0 3px;
    }
    a {
        font-weight: $alert-link-font-weight;
    }
}

//== Well
.card {
    box-shadow: none;
}

//== Badges
.badge {
    border: 1px solid $o-brand-primary;
}

//== Buttons
.btn, .btn-group > .btn {
    border-radius: 0px;
    border: none;
    &:hover, &:active, &:focus, &:active:focus {
        outline: none;
    }
}

.btn-primary.active, .btn-secondary.active {
    box-shadow: none;
}

.btn-primary, .btn-secondary {
    text-transform: uppercase;
}

//== Navbar
.navbar .navbar-toggle {
    border-color: transparent;
}

//== Labels
.label {
    border-radius: 0;
    font-size: 1em; // Override 75% of .label
}

//== Popover
.popover {
    border-radius: $border-radius;
}
